.jumbotron {
    background-color: black;
    color: white;
;
    font-family: Montserrat, sans-serif;
  }
  body {
    background-color: rgb(220,220,220);
  }

  .panel{
    background-color: rgb(245,246,247);
  }

.table-hover tbody tr:hover td {
    background: rgb(138,165,196);
}

.panel > .panel-heading {
    background-image: none;
    background-color: black;
    color: white;

}